.card{
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;  
  justify-content:space-around;
}
.titles{
  width: max-content;
  color:rgb(0, 0, 0);
  font-size: 13px;
}
.desc{
  font-size: 14px;
}

.date .username{
  font-size: 12px;
}
marker{
  cursor: pointer;
}
form{
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: max-content;
}

.star{
  color:gold;
}

input, textarea{
  border: none;
  border-bottom: 1px solid gray;
  width: max-content;
}

input::placeholder, textarea::placeholder{
  font-size: 12px;
  color: rgb(39, 192, 247);
}

.submit{
  border: none; 
  padding: 5px;
  border-radius: 5px;
  color:white;
  background-color: tomato;
  cursor: pointer;
}

.btn-login, .btn-register, .btn-logout{
  border : none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.btn-logout{
  background-color: tomato;
}
.btn-login{
  background-color: teal;
  margin-right: 10px;
}
.btn-register{
  background-color: slateblue;
}

.buttons, .btn-logout{ 
  position: absolute;
  display: flex;
  flex-direction:row;
  justify-content:right;
  margin-left: 5px;
}

